@import "tailwindcss";
@import 'primereact/resources/themes/lara-light-indigo/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import './assets/styles/_main.scss';
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}